.linkstyle {
  text-decoration: none;
  color: rgb(228, 228, 228);
}
.hline {
  width: 100%;
  height: 1px;
  background-color: rgb(54, 66, 68);
}
/* .vline {
  width: 1px;
  height: 100vh;
  background-color: rgb(54, 66, 68);
  background-color: rgb(18, 163, 189);
  position: fixed ;
  top: 0;
  z-index: 2200;
} */

.vline{
  width: 5px;
  background-color: rgba(255, 255, 255,0.3);
}

.htline{
  width: 100%;
  height: 13px;
  background-color: rgb(24, 27, 27);
  border: 1px solid rgb(54, 66, 68);
  flex-direction: row;
}

.space-in-word-of-tweet{
  margin: 3px;
}

