@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(228, 228, 228);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
}

/* Left */

.left {
  padding: 0px 29px 0px 110px;
  font-size: 20px;
  font-weight: 650;
}

.twitter {
  height: 55px;
}

.left nav ul,
.tweet {
  list-style: none;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
}

.left nav ul li {
  width: 150px;
  height: 40px;
  /* background-color: red; */
  /* text-align: center; */
  border-radius: 20px;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.pageso {
  /* text-align: center; */
}

.navlogo {
  fill: white;
}

.left nav ul li a,
.tweet a {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.left nav ul li:hover {
  color: rgb(0, 132, 255);
  background-color: rgb(20, 30, 32);
}

.left nav ul li a:hover {
  color: rgb(0, 132, 255);
  background-color: rgb(20, 30, 32);
}

.tweet {
  background-color: rgb(0, 132, 255);
  width: 162px;
  height: 47px;
  justify-content: center;
  align-content: center;
  border-radius: 26px;
}

.tweet:hover {
  background-color: rgb(27, 122, 211);
}

.name {
  display: flex;
  padding: 36px 0px 0px 39px;
  height: 76px;
  width: 239px;
  font-size: 16px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  position: relative;
  top: 40px;
}
.pimg {
  height: 50px;
  border-radius: 30px;
}

.personname {
  margin: 20px;
}

.pimg,
.personname {
  position: relative;
  top: -17px;
  right: 10px;
}

.name:hover {
  background-color: rgb(20, 30, 32);
}

/* Centre */

.centre {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.centreall {
  /* min-width: calc(); */
  min-width: 39vw;
  position: sticky;
  top: 0%;
  z-index: 1000;
  background-color: black;
}

.home {
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
}

.feather {
  fill: rgb(0, 132, 255);
}

.writetweet {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 100px 15px;
}

/* .profileimgcentre {
} */

.pimgcentre {
  height: 45px;
  border-radius: 20px;
  /* align-items: flex-start; */
}

.wtweet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  /* overflow: hidden; */
}

.witweet {
  background-color: black;
  border: 0;
  color: white;
  font-size: 22px;
}

.otheruser {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 15px;
}

.otherimg {
  border-radius: 40px;
}

.userdetails {
  display: flex;
  flex-direction: row;
}


.usercontent {
  padding: 0px 0px 10px 50px;
  flex-direction: column;
  max-width: 550px;
  font-family: inherit;
}

.userupimage{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.givenimage{
  border-radius: 20px;
  border: 1px solid rgb(228, 228, 228);
}

.usertweetoptions {
  display: flex;
  flex-direction: row;
}

.replybox {
  display: flex;
  padding: 0px 40px;
}

.reply,
.heartred,.retgreen {
  fill: black;
}

.replycount,.heartcount,.tweetcount {
  font-size: 14px;
  color: rgb(228, 228, 228);
  padding: 0px 0px 0px 10px;
}

.reply:hover {
  stroke: rgb(0, 132, 255);
}

.replycount:hover {
  color: rgb(0, 132, 255);
}
.heartred:hover{
  stroke: red;
}
.heartcount:hover {
color: red;
}
.retgreen:hover{
  stroke: rgb(23, 184, 23);
}
.tweetcount:hover {
color: rgb(23, 184, 23);
}
