@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(228, 228, 228);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
}

/* Left */

.left {
  padding: 0px 29px 0px 110px;
  font-size: 20px;
  font-weight: 650;
  /* position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black; */
}
.leftall {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
}
.twitter {
  height: 55px;
  padding-left: 17px;
}

.left nav ul,
.tweet {
  list-style: none;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
}

.left nav ul li {
  height: 50px;
  /* background-color: red; */
  /* text-align: center; */
  border-radius: 20px;
}
.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageso {
  display: flex;
  /* justify-content: center; */
  /* Below is where magic happened */
  align-items: center;
}
.lisvg {
  padding: 0px 15px 0px 0px;
}
.allpsvg {
  fill: black;
}

.navsvg {
  padding: 0px 0px 0px 0px;
}

.left nav ul li a,
.tweet a {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.left nav ul li:hover {
  color: rgb(0, 132, 255);
  background-color: rgb(20, 30, 32);
}

.left nav ul li a:hover {
  color: rgb(0, 132, 255);
  background-color: rgb(20, 30, 32);
}

.tweetbox {
  padding-left: 42px;
}

.tweet {
  background-color: rgb(0, 132, 255);
  width: 150px;
  height: 47px;
  justify-content: center;
  align-content: center;
  border-radius: 26px;
}
.parentmediatweetsvg{
  display: none;
}
.mediatweetsvg {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: rgb(18, 130, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediatweetsvgpath {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(107%)
    contrast(102%);
}
.tweet:hover {
  background-color: rgb(27, 122, 211);
}

.name {
  display: flex;
  padding: 36px 0px 0px 39px;
  height: 76px;
  width: 239px;
  font-size: 16px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  position: relative;
  top: 110px;
}
.pimg {
  height: 40px;
  border-radius: 30px;
}

.personname {
  margin: 20px;
}

.pimg,
.personname {
  position: relative;
  top: -17px;
  right: 10px;
}

.name:hover {
  background-color: rgb(20, 30, 32);
}

/* Centre */

.centre {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.centreall {
  /* min-width: calc(); */
  min-width: 39vw;
  position: sticky;
  top: 0%;
  z-index: 1000;
  background-color: black;
}

.home {
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
}

.feather {
  fill: rgb(0, 132, 255);
}

.writetweet {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 100px 15px;
}

/* .profileimgcentre {
} */

.pimgcentre {
  height: 45px;
  border-radius: 20px;
  /* align-items: flex-start; */
}

.wtweet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  /* overflow: hidden; */
}

.witweet {
  background-color: black;
  border: 0;
  color: white;
  font-size: 22px;
  outline: none;
}

.otheruser {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 15px;
}

.otherimg {
  border-radius: 40px;
}

.userdetails {
  display: flex;
  flex-direction: row;
}

.usercontent {
  padding: 0px 0px 10px 50px;
  flex-direction: column;
  max-width: 550px;
  font-family: inherit;
}

.userupimage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.givenimage {
  border-radius: 20px;
  border: 1px solid rgb(228, 228, 228);
}

.usertweetoptions {
  display: flex;
  flex-direction: row;
}

.replybox {
  display: flex;
  padding: 0px 40px;
}

.reply,
.heartred,
.retgreen {
  fill: black;
}

.replycount,
.heartcount,
.tweetcount {
  font-size: 14px;
  color: rgb(228, 228, 228);
  padding: 0px 0px 0px 10px;
}

.reply:hover {
  stroke: rgb(0, 132, 255);
}

.replycount:hover {
  color: rgb(0, 132, 255);
}
.heartred:hover {
  stroke: red;
}
.heartcount:hover {
  color: red;
}
.retgreen:hover {
  stroke: rgb(23, 184, 23);
}
.tweetcount:hover {
  color: rgb(23, 184, 23);
}

/* Right */

.right {
  position: -webkit-sticky;
  top: 100px;
}

.searchtwitter {
  height: 60px;
  background-color: black;
  padding: 8px 0px 0px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search {
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  background-color: rgb(36, 34, 34);
  width: 300px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

.searchsvg {
  fill: rgb(36, 34, 34);
  /* filter: invert(10%) sepia(5%) saturate(1449%) hue-rotate(175deg) brightness(100%) contrast(90%); */
}

.intwitter__search__textbox {
  padding: 12px;
  background-color: rgb(36, 34, 34);
  border: none;
  color: white;
  outline: none;
}
/* .search:focus {
  background: red; 
  border: 2px solid rgb(0, 132, 255);
} */

.whatshappiningcontainer {
  padding: 20px 0px 0px 42px;
  width: 80%;
  /* font-size: 20px; */
  font-family: sans-serif;
  color: rgb(228, 228, 228);
}

.whatshappining {
  border-radius: 20px;
  /* padding: 20px 0px 0px 42px; */
  /* padding-left: 15px; */
  background-color: rgb(21, 24, 28);
}

.whatshappining h3 {
  font-weight: 1000;
}

.trending {
  padding: 10px 0px 10px 20px;
}

.showmore {
  color: rgb(0, 132, 255);
}

.trendingbox {
  cursor: pointer;
}

.trendingbox:hover {
  background-color: rgb(32, 36, 41);
}

.whotofollow {
  padding: 20px 0px 0px 42px;
  width: 80%;
  /* font-size: 20px; */
  font-family: sans-serif;
  color: rgb(228, 228, 228);
  /* overflow: hidden; */
}

.boxwhotofollow {
  border-radius: 20px;
  /* padding: 20px 0px 0px 42px; */
  /* padding-left: 15px; */
  background-color: rgb(21, 24, 28);
}
.boxwhotofollow h2 {
  padding: 10px 0px 10px 20px;
}

.tofollow {
  padding: 10px 0px 10px 20px;
  display: flex;
  cursor: pointer;
}

.tofollow:hover {
  background-color: rgb(32, 36, 41);
}

.tofollowprofileimg img {
  height: 50px;
  border-radius: 40px;
}
.tofollowname {
  display: flex;
  flex-direction: column;
}
.nametofollow {
  padding: 0px 0px 5px 10px;
  width: max-content;
}
.adressnametofollow {
  padding-left: 10px;
  font-size: 12px;
}
.tick {
  padding-left: 5px;
}
.ticksvg {
  fill: rgb(228, 228, 228);
}
.followbuttonbox {
  padding: 0px 0px 0px 73px;
}

.tofollowtwo .followbuttonbox {
  padding: 0px 0px 0px 25px;
}
.tofollowthree .followbuttonbox {
  padding: 0px 0px 0px 40px;
}

.tofollowbutton {
  height: 40px;
  width: 100px;
  border: 1px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tofollowbutton:hover {
  background-color: rgba(0, 132, 255, 0.1);
}

.seemoretofollow {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 132, 255);
}

.seemoretofollow:hover {
  background-color: rgb(32, 36, 41);
  border-radius: 0px 0px 20px 20px;
}

.copyright {
  padding: 30px 0px 0px 55px;
  width: 80%;
  /* font-size: 20px; */
  font-family: sans-serif;
  color: rgb(228, 228, 228);
}
.termsser,
.addcopyright {
  display: flex;
  font-size: 12px;
  color: rgb(121, 121, 121);
}
.termsser p,
.addcopyright p {
  padding: 10px 0px 5px 10px;
}
.termsser p:hover,
.addcopyright p:hover {
  cursor: pointer;
  text-decoration: underline;
}
